.background {
    -fx-background-image: url("background1.jpg");
    -fx-background-size: cover; /* Optional: covers entire area */
    -fx-background-position: center center; /* Optional: centers the image */
}

.button-36 {
    -fx-background-color: linear-gradient(to right, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    -fx-background-radius: 8px;
    -fx-border-style: none;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-family: "Inter UI", "SF Pro Display", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
    -fx-pref-height: 4rem;
    -fx-padding: 0 1.6rem;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 8, 0, 0, 3);
    -fx-background-insets: 0;
    -fx-background-radius: 8px;
    -fx-transition: all 0.5s ease;
}

.button-36:hover {
    -fx-effect: dropshadow(one-pass-box, rgba(80, 63, 205, 0.5), 30, 0, 0, 1);
    -fx-transition-duration: 0.1s;
}

@media screen and (min-width: 768px) {
    .button-36 {
        -fx-padding: 0 2.6rem;
    }
}
